<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Detection</title>
    <script>
        window.onload = function() {
            startCamera();
        };

        

        function startCamera() {
            fetch('/start_camera', { method: 'POST' })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data);
                    document.getElementById('video-stream').src = "/video_feed";  // Set img source
                    updateStatusMessage(data.status); // Display success message
                })
                .catch(error => {
                    console.error('Error starting camera:', error);
                    updateStatusMessage('Error starting camera: ' + error.message, true);
                });
        }

        function stopCamera() {
            document.getElementById('video-stream').src = ""; // Clear the img source
        }
    </script>
</head>
<body>
    <h1>Face Detection Live Feed</h1>
    <img id="video-stream" src="" alt="Video Stream" style="width: 640px; height: 480px;" />
    <button onclick="startCamera()">Start Camera</button>
    <button onclick="stopCamera()">Stop Camera</button>
</body>
</html>
